In [1]:
import tweepy
import pandas as pd
import json
#from datatime import datatime
import s3fs
from dotenv import load_dotenv
import os

In [2]:
'''
def configure():
    load_dotenv()
'''
load_dotenv()

True

In [3]:
#Twitter authentication
access_key=os.getenv('access_key')
access_secret=os.getenv('access_secret')
consumer_key=os.getenv('consumer_key')
consumer_secret=os.getenv('consumer_secret')
auth=tweepy.OAuthHandler(access_key,access_secret)
auth.set_access_token(consumer_key,consumer_secret)

In [4]:
#Creating an API object
api=tweepy.API(auth)

tweeets=api.user_timeline(screen_name='@elonmusk',
                        count=200,
                        include_rts=False,
                        tweet_mode='extended'
                        )

In [5]:
tweet_list=[]
for tweet in tweeets:
    text=tweet._json["full_text"]
    refined_tweet={"user":tweet.user.screen_name,
                  'text':text,
                  'favourite_count':tweet.favorite_count,
                  'retweet_count':tweet.retweet_count,
                  'created_at':tweet.created_at}
    tweet_list.append(refined_tweet)

In [6]:
df=pd.DataFrame(tweet_list)
df.head()

,user,text,favourite_count,retweet_count,created_at
0,elonmusk,"@TheRightMelissa Back then, George Washington ...",7497,425,2023-01-21 03:18:35+00:00
1,elonmusk,@EvaFoxU @BillyM2k Japan has higher total user...,1133,109,2023-01-21 03:16:04+00:00
2,elonmusk,@teslaownersSV I’m reviewing it next week for ...,895,81,2023-01-21 03:13:31+00:00
3,elonmusk,@TimRunsHisMouth Good question,8441,607,2023-01-21 00:50:16+00:00
4,elonmusk,(Tweets will be translated before being recomm...,19280,1076,2023-01-21 00:40:35+00:00